[submodule "include/dealii-adapter"]
	path = include/dealii-adapter
	url = https://github.com/precice/dealii-adapter.git
    branch = heat-rebased
[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
